
/DataCash.SoccerBallsPyramid/obj
/DataCash.SoccerBallsPyramid/bin
/DataCash.SoccerBallsPyramid/obj
/DataCash.SoccerBallsPyramid/bin
/DataCash.SoccerBallsPyramid.Tests/obj
/DataCash.SoccerBallsPyramid.Tests/bin