
/DataCash.SoccerBallsPyramid/obj
/DataCash.SoccerBallsPyramid/bin
/DataCash.SoccerBallsPyramid/obj
/DataCash.SoccerBallsPyramid/bin
/DataCash.SoccerBallsPyramid.Tests/obj
/DataCash.SoccerBallsPyramid.Tests/bin
/DataCash.SoccerBallsPyramid.sln.DotSettings.user
/_ReSharper.DataCash.SoccerBallsPyramid
/DataCash.SoccerBallsPyramid.ncrunchsolution
/DataCash.SoccerBallsPyramid.ncrunchsolution.user
/DataCash.SoccerBallsPyramid.sln.docstates.suo
/SoccerBallsPyramid.sln.docstates.suo
/_ReSharper.SoccerBallsPyramid
/SoccerBallsPyramid.ncrunchsolution
/SoccerBallsPyramid.ncrunchsolution.user
/SoccerBallsPyramid.Tests/obj
/SoccerBallsPyramid.Tests/bin
/SoccerBallsPyramid/obj
/SoccerBallsPyramid/bin